.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    width: 800px;   
    max-width: 100%;
    border-radius: 10px;    
  }

  .modal-header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
  }   

.modal-body{
    display: flex;
    padding: 0px;
    background-color: #FFF;
}
.button-close{
    color:  rgb(10, 101, 126);
    font-weight: bold;
    background-color:#FFF ;
    border: 0;
    margin-top: 10px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}
.button-close:hover{
   transform: scale(1.5);
}
.scroll{
    overflow: hidden;
}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
    
  }
  .alert-enter-active {
    opacity: 1;
    transform: rotate(90deg);
    transition: all 0.5s;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.5s;
  }